@page
@model IndexModel
@{
    ViewData["Title"] = "Geekbrains";
}

<div class="text-start">
    <p class="display-6 fw-bold">Contracts</p>
    <p class="lead">api/contracts/get</p>
    <p class="lead">api/contracts/get/{id}</p>
    <p class="lead">api/contracts/delete/{id}</p>
    <p class="lead">api/contracts/update/{id}</p>
    <p class="lead">api/contracts/post</p>
</div>

<div class="text-end">
    <p class="display-6 fw-bold">Customers</p>
    <p class="lead">api/customer/get</p>
    <p class="lead">api/customer/get/{id}</p>
    <p class="lead">api/customer/delete/{id}</p>
    <p class="lead">api/customer/update/{id}</p>
    <p class="lead">api/customer/post</p>
</div>

<div class="text-start">
    <p class="display-6 fw-bold">Employees</p>
    <p class="lead">api/employees/get</p>
    <p class="lead">api/employees/get/{id}</p>
    <p class="lead">api/employees/delete/{id}</p>
    <p class="lead">api/employees/update/{id}</p>
    <p class="lead">api/employees/post</p>
</div>

<div class="text-end">
    <p class="display-6 fw-bold">Invoices</p>
    <p class="lead">api/invoices/get</p>
    <p class="lead">api/invoices/get/{id}</p>
    <p class="lead">api/invoices/delete/{id}</p>
    <p class="lead">api/invoices/update/{id}</p>
    <p class="lead">api/invoices/post</p>
</div>

<div class="text-start">
    <p class="display-6 fw-bold">Tasks</p>
    <p class="lead">api/tasks/get</p>
    <p class="lead">api/tasks/get/{id}</p>
    <p class="lead">api/tasks/delete/{id}</p>
    <p class="lead">api/tasks/update/{id}</p>
    <p class="lead">api/tasks/post</p>
</div>